.header-wrapper{
    background-color: black;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box{
    height: 10vh;
    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-background-img{
  width: 100%;
  height: 70%;
}

.imgimg{
  width: 100px;
  height: 100px;
}

