.header {
    background-color: #2e2e2e;
    height: 10vh;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.game-logo {
    height: 80%;
    width: auto;
}

.icon-wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5vw;
}

.box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 2px #04d435);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.box:hover {
    filter: drop-shadow(0 0 2px #ff0099);
}

.icon-game-link {
    height: 100%;
    width: auto;
}

.icon-game-img {
    height: 100%;
    width: auto;
    filter: invert(100%);
}

.background-box {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-background {
    height: 100%;
}

.icon-background-img {
    width: auto;
    height: 100%;
    filter: invert(100%);
}

.someBackground {
    position: absolute;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    top: calc(10vh - 10px);
    right: -10px;
    box-shadow: 0 0px 5px #000000;
    z-index: 15;
}

.fon {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2e2ecc;
}

.fon-img {
    width: 80%;
    height: 80%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.fon-img:hover {
    width: 90%;
    height: 90%;
    filter: drop-shadow(0 0 5px #04d435);
}

.fon-img:active {
    width: 70%;
    height: 70%;
    filter: drop-shadow(0 0 5px #00eaff);
}

.sound-img {
    height: 100%;
    width: auto;
    filter: invert(100%);
}
